
header{
    background-color: lightskyblue;
}

h1{
    padding-top: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin: auto;
    font-family: 'Heebo', sans-serif;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}
.topnav a {
  float: left;
  display: none;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a.icon {
  float: right;
  display: block;
}
.topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

#fotoPerfil{
    height: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color:rgb(88, 168, 164);
}

h2{
    text-align: center;
    padding: rgb(208, 204, 204);
    font-family: 'Heebo', sans-serif;
}

#presentacion {
    justify-content: right;
    font-size:x-large;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
    border-style: solid;
    list-style: none;
}
   
body{
    background-color: rgb(186, 210, 205);
    margin: 0px;
    margin-top: 0px;
    font-family: 'Heebo', sans-serif;
}
h4{
    background-color: rgb(88, 168, 164);
    display: inline-block;
}

h3{
    border: solid rgb(88, 168, 164);
    background-color:rgb(88, 168, 164)
}
.informacionGeneral{
    display: block;
    font-size: larger;
}

.redes{
    width: 50px;
    height: 50px;
}

footer{
    background-color: aquamarine;
    padding:50px;
    
}

@media (min-width: 600px) {
    #presentacion {
      display:block;
      text-align: center;
      margin-left: 10%;
      margin-right: 10%
    }
    #colorFondo {
        margin-left: 600px;
    }
    #fotoPerfil{
        display: block;
        height: 200px;
        width: 200px;
    } 
    .topnav {
      background-color: #333;
      overflow: hidden;
    }
    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .topnav a.icon {
      display: none;
    }

}

